<span id="consume_<%= @consume[:y_m_d] %>" class="span2 consume label label-<%= label_level(@consume[:value]) %>">
      <%= day_nth(@consume[:day]) %>:<span class="value"><%= @consume[:value].to_f.round(1) %></span>元
</span>
