
  <div id="china_map_chart_demo1"></div>

<div>
  实例代码: <br>
  <pre>&lt;script src="jquery.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script src="china_map_chart.js" type="text/javascript"&gt;&lt;/script&gt;

&lt;script&gt;
$(function(){ 
  $("#china_map_chart_demo1").china_map_chart();
});
&lt;/script&gt;

&lt;div id="china_map_chart_demo1"&gt;&lt;/div&gt;
  </pre>
</div>

<script>
$(function(){
  $("#china_map_chart_demo1").china_map_chart();
});
</script>
