<div>
  类型: JQuery插件<br>
  名称: china_map_chart<br>
  说明: 这是一个绘制中国34省地图的jquery插件.
</div>
<div>
  实现原理:<br>
   <ol>
     <li>使用svg绘制地图</li>
     <li>使用js,jquery操作svg对象</li>
   </ol>
  特点: 未使用图片，所有样式使用js,jquery实现
</div>
<div>
  功能: <br>
    <ol>
      <li> 鼠标悬浮效果 </li>
      <li> 鼠标点击效果 </li>
      <li> 鼠标提示框效果 </li>
    </ol>
</div>

<div>
  缺陷: 点击到省名称时，点击效果未出现<br>
  原因: 地图绘制与名称绘制在两个层面，省名称层面位地图层面之上.
</div>
<div>
  待添加功能:<br>
  <ol>
    <li>传递点击事件，对点击省份自定义处理</li>
  </ol>
</div>
<div>
  代码托管:<br>
  <a href="https://github.com/jay16/china_map_chart" target="_blank">china_map_chart</a>
</div>

