
<div class="shadow-box">
  <table class="resume-table">
    <tbody>

     <tr>
       <td class="title"><strong>个人邮箱:</strong></td>
       <td class="left">solife.jay@gmail.com</td>
       <td class="title"><strong>公司邮箱:</strong></td>
       <td class="right">jay_li@intfocus.com</td>
     </tr>

    </tbody>
  </table>
</div>
