<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>小集体电子报-01</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
</head>
<style>
img {
  //border: 0.5px solid purple;
  padding: 0px;
  margin: 0px;
}
</style>
<body bgcolor="#FFFFFF">
<!-- ImageReady Slices (小集体电子报-01.jpg) -->
<table id="Table_01" width="1261" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="18">
			<img id="_______02_01" src="images/小集体电子报-02_01.jpg" width="1260" height="35" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="1" height="35" alt="" /></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="4">
			<img id="_______02_02" src="images/小集体电子报-02_02.jpg" width="286" height="114" alt="" /></td>
		<td colspan="8" rowspan="3">
			<img id="_______02_03" src="images/小集体电子报-02_03.jpg" width="225" height="101" alt="" /></td>
		<td colspan="8">
			<img id="_______02_04" src="images/小集体电子报-02_04.jpg" width="749" height="88" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="1" height="88" alt="" /></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="3">
			<img id="_______02_05" src="images/小集体电子报-02_05.jpg" width="364" height="26" alt="" /></td>
		<td colspan="4" width="106" height="12" style="background-image:url('images/小集体电子报-02_08.jpg');">
      <span style="font-size:10px;font-family:SimHei;">
        February 25,2014
      </span>
    </td>
		<td rowspan="21">
			<img id="_______02_07" src="images/小集体电子报-02_07.jpg" width="279" height="977" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="1" height="12" alt="" /></td>
	</tr>
	<tr>
		<td colspan="4" rowspan="2">
			<img id="_______02_08" src="images/小集体电子报-02_08.jpg" width="106" height="14" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="1" height="1" alt="" /></td>
	</tr>
	<tr>
		<td colspan="8">
			<img id="_______02_09" src="images/小集体电子报-02_09.jpg" width="225" height="13" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="1" height="13" alt="" /></td>
	</tr>
	<tr>
		<td rowspan="18">
			<img id="_______02_10" src="images/小集体电子报-02_10.jpg" width="278" height="951" alt="" /></td>
		<td colspan="16">
			<img id="_______02_11" src="images/小集体电子报-02_11.jpg" width="703" height="197" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="1" height="197" alt="" /></td>
	</tr>
	<tr>
		<td colspan="7" rowspan="2">
			<img id="_______02_12" src="images/小集体电子报-02_12.jpg" width="109" height="36" alt="" /></td>
		<td colspan="3" width="147" height="24">
      <span style="color:#7ABF48;font-size:19px;font-weight:bold;font-family:Arial,Verdana,Sans-serif;margin:0px;padding:0px;">
      Hello
      </span>
    </td>
		<td colspan="6" rowspan="2">
			<img id="_______02_14" src="images/小集体电子报-02_14.jpg" width="447" height="36" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="1" height="24" alt="" /></td>
	</tr>
	<tr>
		<td colspan="3">
			<img id="_______02_15" src="images/小集体电子报-02_15.jpg" width="147" height="12" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="1" height="12" alt="" /></td>
	</tr>
	<tr>
		<td colspan="6" rowspan="2">
			<img id="_______02_16" src="images/小集体电子报-02_16.jpg" width="106" height="146" alt="" /></td>
		<td colspan="8" width="511" height="20">
      <span style="font-size:17px;font-family:SimHei;">
      欢迎成为小集体成员，我们只有几个生活公约需要跟您先说一声。
      </span>
    </td>
		<td colspan="2" rowspan="10">
			<img id="_______02_18" src="images/小集体电子报-02_18.jpg" width="86" height="444" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="1" height="20" alt="" /></td>
	</tr>
	<tr>
		<td colspan="8">
			<img id="_______02_19" src="images/小集体电子报-02_19.jpg" width="511" height="126" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="1" height="126" alt="" /></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="8">
			<img id="_______02_20" src="images/小集体电子报-02_20.jpg" width="61" height="298" alt="" /></td>
		<td colspan="2" width="40" height="41" style="background-color:#7ABF48;text-align:center;">
      <span style="color:white;font-size:25px;font-weight:bold;font-family:Arial,Verdana,Sans-serif;">
      1
      </span>
    </td>
		<td colspan="3" rowspan="8">
			<img id="_______02_22" src="images/小集体电子报-02_22.jpg" width="17" height="298" alt="" /></td>
		<td colspan="3" width="469" height="41">
      <span style="font-size:15px;font-family:SimHei;">
      请保持愉悦的心情对待每一天，因为时间是人生最珍贵的资源。
      </span>
    </td>
		<td colspan="3" rowspan="8">
			<img id="_______02_24" src="images/小集体电子报-02_24.jpg" width="30" height="298" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="1" height="41" alt="" /></td>
	</tr>
	<tr>
		<td colspan="2">
			<img id="_______02_25" src="images/小集体电子报-02_25.jpg" width="40" height="27" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="1" height="27" alt="" /></td>
	</tr>
	<tr>
		<td colspan="2" width="40" height="40" style="background-color:#7ABF48;text-align:center;">
      <span style="color:white;font-size:25px;font-weight:bold;font-family:Arial,Verdana,Sans-serif;">
      2
      </span>
    </td>
		<td colspan="3"  width="469" height="40">
      <span style="font-size:15px;font-family:SimHei;">
      请别告诉太多人你已经加入了小集体，这是我们之间的小秘密。
      </span>
    </td>
		<td>
			<img src="images/spacer.gif" width="1" height="40" alt="" /></td>
	</tr>
	<tr>
		<td colspan="2">
			<img id="_______02_27" src="images/小集体电子报-02_27.jpg" width="40" height="28" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="1" height="28" alt="" /></td>
	</tr>
	<tr>
		<td colspan="2" width="40" height="39" style="background-color:#7ABF48;text-align:center;">
      <span style="color:white;font-size:25px;font-weight:bold;font-family:Arial,Verdana,Sans-serif;">
      3
      </span>
    </td>
		<td colspan="3"  width="469" height="39">
      <span style="font-size:15px;font-family:SimHei;">
      有任何对生活的新奇想法，可以透过寄信跟我们分享。
      </span>
    </td>
		<td>
			<img src="images/spacer.gif" width="1" height="39" alt="" /></td>
	</tr>
	<tr>
		<td colspan="2">
			<img id="_______02_29" src="images/小集体电子报-02_29.jpg" width="40" height="28" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="1" height="28" alt="" /></td>
	</tr>
	<tr>
		<td colspan="2" width="40" height="40" style="background-color:#7ABF48;text-align:center;">
      <span style="color:white;font-size:25px;font-weight:bold;font-family:Arial,Verdana,Sans-serif;">
      4
      </span>
    </td>
		<td colspan="3"  width="469" height="40">
      <span style="font-size:15px;font-family:SimHei;">
      每个月至少做一件让自己快乐的事情。
      </span>
    </td>
		<td>
			<img src="images/spacer.gif" width="1" height="40" alt="" /></td>
	</tr>
	<tr>
		<td colspan="2">
			<img id="_______02_31" src="images/小集体电子报-02_31.jpg" width="40" height="55" alt="" /></td>
		<td colspan="3">
			<img id="_______02_32" src="images/小集体电子报-02_32.jpg" width="469" height="55" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="1" height="55" alt="" /></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="4">
			<img id="_______02_33" src="images/小集体电子报-02_33.jpg" width="47" height="226" alt="" /></td>
		<td colspan="13">
			<img id="_______02_34" src="images/小集体电子报-02_34.jpg" width="609" height="30" alt="" /></td>
		<td rowspan="4">
			<img id="_______02_35" src="images/小集体电子报-02_35.jpg" width="47" height="226" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="1" height="30" alt="" /></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="2">
			<img id="_______02_36" src="images/小集体电子报-02_36.jpg" width="43" height="148" alt="" /></td>
		<td colspan="9">
			<img id="_______02_37" src="images/小集体电子报-02_37.jpg" width="519" height="107" alt="" /></td>
		<td colspan="2" rowspan="2">
			<img id="_______02_38" src="images/小集体电子报-02_38.jpg" width="47" height="148" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="1" height="107" alt="" /></td>
	</tr>
	<tr>
		<td colspan="9">
			<img id="_______02_39" src="images/小集体电子报-02_39.jpg" width="519" height="41" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="1" height="41" alt="" /></td>
	</tr>
	<tr>
		<td colspan="13">
			<img id="_______02_40" src="images/小集体电子报-02_40.jpg" width="609" height="48" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="1" height="48" alt="" /></td>
	</tr>
	<tr>
		<td colspan="16">
			<img id="_______02_41" src="images/小集体电子报-02_41.jpg" width="703" height="48" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="1" height="48" alt="" /></td>
	</tr>
	<tr>
		<td>
			<img src="images/spacer.gif" width="278" height="1" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="8" height="1" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="39" height="1" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="14" height="1" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="29" height="1" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="11" height="1" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="5" height="1" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="3" height="1" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="9" height="1" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="115" height="1" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="23" height="1" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="331" height="1" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="10" height="1" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="12" height="1" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="8" height="1" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="39" height="1" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="47" height="1" alt="" /></td>
		<td>
			<img src="images/spacer.gif" width="279" height="1" alt="" /></td>
		<td></td>
	</tr>
</table>
<!-- End ImageReady Slices -->
</body>
</html>
