<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>小集团电子报模板</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <style>
<![CDATA[
    img {
    //border: 0.5px solid purple;
    padding: 0px;
    margin: 0px;
    }
    ]]>
    </style>

  <% if mobile? %>
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta content='True' name='HandheldFriendly' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <style>
      body {
        max-width: 1000px;
        min-width:100px;
      }
    </style>

    <input type="hidden" name="runtime" value="mobile" id="hidden_runtime" />
  <% end %>
</head>

<body bgcolor="#FFFFFF">
    <!-- ImageReady Slices (xiaojiti-01.jpg) -->

    <table border="0" cellpadding="0" cellspacing="0" id="Table_01" width="1261">
        <tr>
            <td colspan="18"><img alt="" height="35" id="_______02_01" name="_______02_01" src="/images/xiaojiti-02_01.jpg" width="1260" /></td>

            <td><img alt="" height="35" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td colspan="2" rowspan="4"><img alt="" height="114" id="_______02_02" name="_______02_02" src="/images/xiaojiti-02_02.jpg" width="286" /></td>

            <td colspan="8" rowspan="3"><img alt="" height="101" id="_______02_03" name="_______02_03" src="/images/xiaojiti-02_03.jpg" width="225" /></td>

            <td colspan="8"><img alt="" height="88" id="_______02_04" name="_______02_04" src="/images/xiaojiti-02_04.jpg" width="749" /></td>

            <td><img alt="" height="88" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td colspan="3" rowspan="3"><img alt="" height="26" id="_______02_05" name="_______02_05" src="/images/xiaojiti-02_05.jpg" width="364" /></td>

            <td colspan="4" height="12" style="background-image:url('/images/xiaojiti-02_08.jpg');" width="106">
              <span style="font-size:10px;font-family:SimHei;line-height:12px;">February 25,2014</span>
            </td>

            <td rowspan="21"><img alt="" height="977" id="_______02_07" name="_______02_07" src="/images/xiaojiti-02_07.jpg" width="279" /></td>

            <td><img alt="" height="12" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td colspan="4" rowspan="2"><img alt="" height="14" id="_______02_08" name="_______02_08" src="/images/xiaojiti-02_08.jpg" width="106" /></td>

            <td><img alt="" height="1" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td colspan="8"><img alt="" height="13" id="_______02_09" name="_______02_09" src="/images/xiaojiti-02_09.jpg" width="225" /></td>

            <td><img alt="" height="13" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td rowspan="18"><img alt="" height="951" id="_______02_10" name="_______02_10" src="/images/xiaojiti-02_10.jpg" width="278" /></td>

            <td colspan="16"><img alt="" height="197" id="_______02_11" name="_______02_11" src="/images/xiaojiti-02_11.jpg" width="703" /></td>

            <td><img alt="" height="197" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td colspan="7" rowspan="2"><img alt="" height="36" id="_______02_12" name="_______02_12" src="/images/xiaojiti-02_12.jpg" width="109" /></td>

            <td colspan="3" height="24" width="147"><span style="color:#7ABF48;font-size:19px;font-weight:bold;font-family:Arial,Verdana,Sans-serif;margin:0px;padding:0px;">Hello</span></td>

            <td colspan="6" rowspan="2"><img alt="" height="36" id="_______02_14" name="_______02_14" src="/images/xiaojiti-02_14.jpg" width="447" /></td>

            <td><img alt="" height="24" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td colspan="3"><img alt="" height="12" id="_______02_15" name="_______02_15" src="/images/xiaojiti-02_15.jpg" width="147" /></td>

            <td><img alt="" height="12" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td colspan="6" rowspan="2"><img alt="" height="146" id="_______02_16" name="_______02_16" src="/images/xiaojiti-02_16.jpg" width="106" /></td>

            <td colspan="8" height="20" width="511"><span style="font-size:17px;font-family:SimHei;">欢迎成为小集体成员，我们只有几个生活公约需要跟您先说一声。</span></td>

            <td colspan="2" rowspan="10"><img alt="" height="444" id="_______02_18" name="_______02_18" src="/images/xiaojiti-02_18.jpg" width="86" /></td>

            <td><img alt="" height="20" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td colspan="8"><img alt="" height="126" id="_______02_19" name="_______02_19" src="/images/xiaojiti-02_19.jpg" width="511" /></td>

            <td><img alt="" height="126" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td colspan="3" rowspan="8"><img alt="" height="298" id="_______02_20" name="_______02_20" src="/images/xiaojiti-02_20.jpg" width="61" /></td>

            <td colspan="2" height="41" style="background-color:#7ABF48;text-align:center;" width="40"><span style="color:white;font-size:25px;font-weight:bold;font-family:Arial,Verdana,Sans-serif;">1</span></td>

            <td colspan="3" rowspan="8"><img alt="" height="298" id="_______02_22" name="_______02_22" src="/images/xiaojiti-02_22.jpg" width="17" /></td>

            <td colspan="3" height="41" width="469"><span style="font-size:15px;font-family:SimHei;">请保持愉悦的心情对待每一天，因为时间是人生最珍贵的资源。</span></td>

            <td colspan="3" rowspan="8"><img alt="" height="298" id="_______02_24" name="_______02_24" src="/images/xiaojiti-02_24.jpg" width="30" /></td>

            <td><img alt="" height="41" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td colspan="2"><img alt="" height="27" id="_______02_25" name="_______02_25" src="/images/xiaojiti-02_25.jpg" width="40" /></td>

            <td><img alt="" height="27" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td colspan="2" height="40" style="background-color:#7ABF48;text-align:center;" width="40"><span style="color:white;font-size:25px;font-weight:bold;font-family:Arial,Verdana,Sans-serif;">2</span></td>

            <td colspan="3" height="40" width="469"><span style="font-size:15px;font-family:SimHei;">请别告诉太多人你已经加入了小集体，这是我们之间的小秘密。</span></td>

            <td><img alt="" height="40" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td colspan="2"><img alt="" height="28" id="_______02_27" name="_______02_27" src="/images/xiaojiti-02_27.jpg" width="40" /></td>

            <td><img alt="" height="28" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td colspan="2" height="39" style="background-color:#7ABF48;text-align:center;" width="40"><span style="color:white;font-size:25px;font-weight:bold;font-family:Arial,Verdana,Sans-serif;">3</span></td>

            <td colspan="3" height="39" width="469">
              <span style="font-size:15px;font-family:SimHei;">
              有任何对生活的新奇想法，可以透过寄信跟我们分享。
              </span>
            </td>

            <td><img alt="" height="39" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td colspan="2"><img alt="" height="28" id="_______02_29" name="_______02_29" src="/images/xiaojiti-02_29.jpg" width="40" /></td>

            <td><img alt="" height="28" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td colspan="2" height="40" style="background-color:#7ABF48;text-align:center;" width="40"><span style="color:white;font-size:25px;font-weight:bold;font-family:Arial,Verdana,Sans-serif;">4</span></td>

            <td colspan="3" height="40" width="469"><span style="font-size:15px;font-family:SimHei;">每个月至少做一件让自己快乐的事情。</span></td>

            <td><img alt="" height="40" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td colspan="2"><img alt="" height="55" id="_______02_31" name="_______02_31" src="/images/xiaojiti-02_31.jpg" width="40" /></td>

            <td colspan="3"><img alt="" height="55" id="_______02_32" name="_______02_32" src="/images/xiaojiti-02_32.jpg" width="469" /></td>

            <td><img alt="" height="55" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td colspan="2" rowspan="4"><img alt="" height="226" id="_______02_33" name="_______02_33" src="/images/xiaojiti-02_33.jpg" width="47" /></td>

            <td colspan="13"><img alt="" height="30" id="_______02_34" name="_______02_34" src="/images/xiaojiti-02_34.jpg" width="609" /></td>

            <td rowspan="4"><img alt="" height="226" id="_______02_35" name="_______02_35" src="/images/xiaojiti-02_35.jpg" width="47" /></td>

            <td><img alt="" height="30" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td colspan="2" rowspan="2"><img alt="" height="148" id="_______02_36" name="_______02_36" src="/images/xiaojiti-02_36.jpg" width="43" /></td>

            <td colspan="9"  height="107" width="519" style="background-image:url('/images/xiaojiti-02_36.jpg');">
              <span style="font-size:18px;font-family:SimHei;color:white;">
              “
              </span>
              <span style="font-size:16px;font-family:SimHei;color:white;">
              请保持愉悦的心情对待每一天，因为时间是人生最珍贵的资源。<br>
              </span>
              <span style="font-size:16px;font-family:SimHei;color:white;padding-left:25px;">
              请别告诉太多人你已经加入了小集体，这是我们之间的小秘密。<br>
              </span>
              <span style="font-size:16px;font-family:SimHei;color:white;padding-left:25px;">
              有任何对生活的新奇想法，可以透过寄信跟我们分享。<br>
              </span>
              <span style="font-size:16px;font-family:SimHei;color:white;padding-left:25px;">
              每个月至少做一件让自己快乐的事情。
              </span>
              <span style="font-size:18px;font-family:SimHei;color:white;padding-left:25px;">
              ”
              </span>
            </td>

            <td colspan="2" rowspan="2"><img alt="" height="148" id="_______02_38" name="_______02_38" src="/images/xiaojiti-02_38.jpg" width="47" /></td>

            <td><img alt="" height="107" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td colspan="9"><img alt="" height="41" id="_______02_39" name="_______02_39" src="/images/xiaojiti-02_39.jpg" width="519" /></td>

            <td><img alt="" height="41" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td colspan="13"><img alt="" height="48" id="_______02_40" name="_______02_40" src="/images/xiaojiti-02_40.jpg" width="609" /></td>

            <td><img alt="" height="48" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td colspan="16"><img alt="" height="48" id="_______02_41" name="_______02_41" src="/images/xiaojiti-02_41.jpg" width="703" /></td>

            <td><img alt="" height="48" src="/images/spacer.gif" width="1" /></td>
        </tr>

        <tr>
            <td><img alt="" height="1" src="/images/spacer.gif" width="278" /></td>

            <td><img alt="" height="1" src="/images/spacer.gif" width="8" /></td>

            <td><img alt="" height="1" src="/images/spacer.gif" width="39" /></td>

            <td><img alt="" height="1" src="/images/spacer.gif" width="14" /></td>

            <td><img alt="" height="1" src="/images/spacer.gif" width="29" /></td>

            <td><img alt="" height="1" src="/images/spacer.gif" width="11" /></td>

            <td><img alt="" height="1" src="/images/spacer.gif" width="5" /></td>

            <td><img alt="" height="1" src="/images/spacer.gif" width="3" /></td>

            <td><img alt="" height="1" src="/images/spacer.gif" width="9" /></td>

            <td><img alt="" height="1" src="/images/spacer.gif" width="115" /></td>

            <td><img alt="" height="1" src="/images/spacer.gif" width="23" /></td>

            <td><img alt="" height="1" src="/images/spacer.gif" width="331" /></td>

            <td><img alt="" height="1" src="/images/spacer.gif" width="10" /></td>

            <td><img alt="" height="1" src="/images/spacer.gif" width="12" /></td>

            <td><img alt="" height="1" src="/images/spacer.gif" width="8" /></td>

            <td><img alt="" height="1" src="/images/spacer.gif" width="39" /></td>

            <td><img alt="" height="1" src="/images/spacer.gif" width="47" /></td>

            <td><img alt="" height="1" src="/images/spacer.gif" width="279" /></td>

            <td></td>
        </tr>
    </table><!-- End ImageReady Slices -->
</body>
</html>
