<h3>链接失效</h3>

  <strike><%= request.url %></strike>

<h2>推荐:</h2>

<table class="table table-hover">
  <% for segment in @segments %>
    <tr>
      <td><%= link_to segment.title, segment.permlink_path %></td>
    </tr>
  <% end if @segments %>
</table>
