<div class="span6 offset3 error-page">
    <h1 class="error-title">
      <span class="text-3d-left">4</span>
      <span class="text-3d-center">0</span>
      <span class="text-3d-right">4</span>

      <span class="error-type">Not Found</span>
    </h1>

    <p>
      We're afraid that you might have just arrived the wrong place <span class="error-url"><%= request.url %></span>. Please check the address and try again, or the page you're looking for might have been moved.
    </p>

    <p>
      please back to home <a title="back to home!"  href="http://solife.us">solife</a> to refound it.
    </p>
</div>
